*.la
*.lo
*.pkg.*
.deps/
.libs/
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
murrine.pc
pkg/
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
schema/murrine.xml
schema/murrine.xml.in
src/config.h
src/config.h.in
src/stamp-h1
